.banner {
    width: 100%;
    height: 100vh; /* ocupa toda la pantalla */
    background-image: url("1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Segunda secci贸n */
.banner-2 {
    background-image: url("2.jpg");
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Tercera secci贸n */
.banner-3 {
    background-image: url("3.jpg");
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Cuarta secci贸n */
.banner-4 {
    background-image: url("4.jpg");
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Quinta secci贸n */
.banner-5 {
    background-image: url("5.jpg");
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
